@model iManual.Models.ViewModels.ArticalViewModels.CreateArticleViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Scripts/Plugins/DropzoneJs/dropzone.css" rel="stylesheet" />
<style>
    .dropzone {
        border: dashed 1.4px #2998c8;
        background-color: #d7f3f8;
    }
    .dropzone .dz-preview .dz-progress {
        opacity: 0 !important;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Title"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" cols="5" name="Description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">SubCategory</label>
            <div class="col-md-10">
                <select name="SubCategoryId" class="form-control">
                    @foreach (var sub in Model.SubCategorys)
                    {
                        <option value="@sub.Id">@sub.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Article Contents</label>
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                </ul>              
            </div>
            <div class="col-md-2">
                <i class="glyphicon glyphicon-plus-sign" id="btnaddcontent"></i>
                <i class="glyphicon glyphicon-trash"></i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="modal" tabindex="-1" role="dialog" id="popContenteditor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Title</label>
                    <div class="col-md-10">
                        <input type="text" name="Title" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-10">
                        <textarea name="Description" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">File Content</label>
                    <div class="col-md-10">
                        <form action="/ArticleContent/UploadContent"
                              class="dropzone"
                              id="myAwesomeDropzone" method="post">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Plugins/DropzoneJs/dropzone.js"></script>
    <script>
        var data = new FormData();

        Dropzone.options.myAwesomeDropzone = {
            init: function () {
                this.on("addedfile", function (file) {
                    var ext = file.name.split('.').pop();
                    if (ext == "pdf") {
                        $(file.previewElement).find(".dz-image img").attr("src", "/Content/WebImages/pdficon.png");
                    }
                });
                this.on("success", function (file, response) { successUpload(response); });
                this.on("maxfilesexceeded", function (file) {
                    alert("No more files please!");
                });
            },
            //autoProcessQueue: false,
            addRemoveLinks: true,
            dictDefaultMessage: "<strong>Drop files here or click to upload. </strong>",
            acceptedFiles: "application/pdf",
            maxFiles: 1,
        };

        $(".dz-remove").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            var imageId = $(this).parent().find(".dz-filename > span").text();

            $.ajax({
                url: "Your url here",
                data: { imageId: imageId },
                type: 'POST',
                success: function (data) {
                    if (data.NotificationType === "Error") {
                        toastr.error(data.Message);
                    } else {
                        toastr.success(data.Message);
                    }
                },
                error: function (data) {
                    toastr.error(data.Message);
                }
            })

        });

        function successUpload(response)
        {
            alert(response);
            console.log(response);
        }

        $("#btnaddcontent").click(function () {
            $("#popContenteditor").modal();
        });
    </script>
}
